<div class="container">
  <div class="container">
    <div class="row">
        <div class="form-group pull-right">
            <input type="text" class="search form-control" type="text" name="search" [(ngModel)]="searchfilter" placeholder="Search">
        </div>
      <table *ngIf="agencyList" class="table table-striped table-bordered table-sm">
        <!-- ADD HEADERS -->
        <thead>
          <tr>
            <th style="display:none">No</th>
            <th (click)="sort('first_name')">First Name
                <i class="fa fa-fw fa-sort"></i>
            </th>
            <th (click)="sort('last_name')">Last Name
                <i class="fa fa-fw fa-sort"></i>
            </th>
            <th (click)="sort('anniversary_date')">Anniversary_Date
                <i class="fa fa-fw fa-sort"></i>
            </th>
            <th (click)="sort('exam_no')">Exam No
              <i class="fa fa-fw fa-sort"></i>
          </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agency of agencyList | orderBy : order : reverse : 'case-insensitive' | filter : searchfilter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <td style="display:none">{{i}}</td>
            <td>{{agency.first_name}}</td>
            <td>{{agency.last_name}}</td>
            <td>{{agency.anniversary_date}}</td>
            <td>{{agency.exam_no}}</td>
          </tr>
        </tbody>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </table>
    </div>
  </div>
</div>