<div class="container">
  <h3>Agency Details Assignment</h3>
  <ul>
    <li>Create a search page which has filters for first name and last name. (Note - first name and
      last name are not mandatory)</li>
    <li>Clicking on &quot;Search&quot; fetches default result. If user adds first name/last name apply filter
      accordingly.</li>
    <li>In result table show important fields from the result like list_no, exam_no, first_name
      last_name, list_agency_desc, list_title_desc, published_date, etc.</li>
    <li>Page need to designed well (we would like to see your design skills here). You can use
      bootstrap framework.</li>
    <li>Ensure that the page has breakpoints for Desktop, Tablet, and Mobile. All data must be
      visible in all the views (Show your UX skill here)..</li>
  </ul>
</div>