<div class="container">
   <h3>Movie Details Assignment</h3>
   <ul>
     <li>Implement functionality to list movies in a web page (Use relevant fields from JSON). You can use any form of visualization e.g. table, grid layout)</li>
     <li>Visually interactive responsive design listing all the movies.</li>
     <li>Implement a feature to Search (Using multiple fields).</li>
     <li>Implement Sort feature (Using fields "Title", "Year", "BoxOffice", "imdbRating").</li>
     <li>Implement Pagination.</li>
   </ul>
</div>